:root {
  --whiteBg:#f7f7f7;
  --greyTxt:#505050;
  --lightGreyText:#888;
  --lightText:#aaa;

  font-family: Roboto, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background-color: var(--whiteBg);
  color: var(--greyTxt);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}